.link-left{
    text-align: left !important;  
}
.link-color{
color: #0C7B91 !important;
}

.hide{
    display: none !important;
}

.dots-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.dots{

    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
.dot{
    height: 8px;
    width: 8px;
    border-radius: 50%;
}

.notActivee{
    background-color: #D1D1D1 !important;
}

.activee{
    background-color: #0C7B91 !important;
}