.insurance-cta{
    padding-top: 32px;
    text-align: center;
}
.insurance-cta-btn{
    background-color: #0C7B91 !important;
    color: white !important;
}
 @media screen and (max-width: 768px) {
    .insurance-card{
        text-align: center;
            
    }
  } 


